body {
    font-family: sans-serif;
    color: #333;
    border-radius: 50%;
    background: green;
}

p {
    margin: 0;
    padding: 0;
}

em {
    text-decoration: underline;
    color: #c30;
}

strong {
    color: skyblue;
}